<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
  <h1 style ="color:red ">onam</h1>
  <h2> Hello {{name}}</h2>
  <!-- adding a paragraph -->
  <p>Onam is a major festival celebrated in Kerala, India, marking the homecoming of the mythical King Mahabali. 
    It is a harvest festival and typically lasts for 10 days, with the most important day being Thiruvonam</p>
</body>
</html>
